<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.oa.dao.AskLeaveDao">

    <!--    查询请假-->
    <select id="queryAskLeave" resultType="com.jiubo.oa.bean.AskLeaveBean">
        SELECT A.AL_ID, A.LT_ID, A.EMP_ID, A.CREATE_DATE, A.BEG_DATE, A.END_DATE, A.REMARK, A.BILL, A.STATE,
        A.EXAMINER, A.EXAMINER_ADV, A.EXAMINER_DATE, A.AUDITOR, A.AUDITOR_ADV, A.AUDITOR_DATE, A.APPROVER,
        A.APPROVER_ADV, A.APPROVER_DATE,E.EMP_NAME,EM.EMP_NAME EXAMINER_NAME,EMP.EMP_NAME AUDITOR_NAME,EMPL.EMP_NAME
        APPROVER_NAME,LT.LT_NAME,D.DEPT_ID,D.DEPT_NAME,D.DEPT_LEVEL,E.POS_ID,P.POS_NAME,P.LEVAL POS_LEVAL
        FROM ASK_LEAVE A
        LEFT JOIN EMPLOYEE E
        ON A.EMP_ID = E.EMP_ID
        LEFT JOIN DEPARTMENT D
        ON D.DEPT_ID = E.DEPT_ID
        LEFT JOIN POSITION P
        ON E.POS_ID = P.POS_ID
        LEFT JOIN EMPLOYEE EM
        ON EM.EMP_ID = A.EXAMINER
        LEFT JOIN EMPLOYEE EMP
        ON EMP.EMP_ID = A.AUDITOR
        LEFT JOIN EMPLOYEE EMPL
        ON EMPL.EMP_ID = A.APPROVER
        LEFT JOIN LEAVE_TYPE LT
        ON LT.LT_ID = A.LT_ID
        WHERE 1 = 1
        <if test="alId != null and alId != ''">
            AND A.AL_ID = #{alId}
        </if>
        <if test="empId != null and empId != ''">
            AND (
            A.EMP_ID = #{empId}
            OR A.EXAMINER = #{empId}
            OR A.AUDITOR = #{empId}
            OR A.APPROVER = #{empId}
            )
        </if>
        <if test="empName != null and empName != ''">
            AND E.EMP_NAME LIKE CONCAT('%',#{empName},'%')
        </if>
        <if test="deptId != null and deptId != ''">
            AND E.EMP_ID = #{deptId}
        </if>
        <if test="state != null and state != ''">
            AND A.STATE = #{state}
        </if>
        <if test="createBegDate != null and createBegDate != '' ">
            AND A.CREATE_DATE >= #{createBegDate}
        </if>
        <if test="createEndDate != null and createEndDate != ''">
            AND A.CREATE_DATE &lt; #{createEndDate}
        </if>
        <if test="qBegDate != null and qBegDate != ''">
            AND A.BEG_DATE >= #{qBegDate}
        </if>
        <if test="qEndDate != null and qEndDate != ''">
            AND A.END_DATE &lt; #{qEndDate}
        </if>
        ORDER BY A.AL_ID
    </select>

    <!--    添加请假-->
    <insert id="addAskLeave" useGeneratedKeys="true" keyProperty="alId">
        INSERT INTO ASK_LEAVE (LT_ID, EMP_ID, CREATE_DATE, BEG_DATE, END_DATE,
                               REMARK, Bill, STATE, EXAMINER, EXAMINER_ADV,
                               EXAMINER_DATE, AUDITOR, AUDITOR_ADV, AUDITOR_DATE, APPROVER,
                               APPROVER_ADV, APPROVER_DATE)
        VALUES (#{ltId}, #{empId}, #{createDate}, #{begDate}, #{endDate},
                #{remark}, #{bill}, #{state}, #{examiner}, #{examinerAdv},
                #{examinerDate}, #{auditor}, #{auditorAdv}, #{auditorDate}, #{approver},
                #{approverAdv}, #{approverDate})
    </insert>

    <!--    修改请假-->
    <update id="updateAskLeave">
        UPDATE ASK_LEAVE
        SET
        <trim suffixOverrides=",">
            <if test="ltId != null and ltId != ''">
                LT_ID = #{ltId},
            </if>
            <if test="empId != null and empId != ''">
                EMP_ID = #{empId},
            </if>
            <if test="createDate != null and createDate != ''">
                CREATE_DATE = #{createDate},
            </if>
            <if test="begDate != null and begDate != ''">
                BEG_DATE = #{begDate},
            </if>
            <if test="endDate != null and endDate != ''">
                END_DATE = #{endDate},
            </if>
            <if test="remark != null and remark != ''">
                REMARK = #{remark},
            </if>
            <if test="bill != null and bill != ''">
                Bill = #{bill},
            </if>
            <if test="state != null and state != ''">
                STATE = #{state},
            </if>
            <if test="examiner != null and examiner != ''">
                EXAMINER = #{examiner},
            </if>
            <if test="examinerAdv != null and examinerAdv != ''">
                EXAMINER_ADV = #{examinerAdv},
            </if>
            <if test="examinerDate != null and examinerDate != ''">
                EXAMINER_DATE = #{examinerDate},
            </if>
            <if test="auditor != null and auditor != ''">
                AUDITOR = #{auditor},
            </if>
            <if test="auditorAdv != null and auditorAdv != ''">
                AUDITOR_ADV = #{auditorAdv},
            </if>
            <if test="auditorDate != null and auditorDate != ''">
                AUDITOR_DATE = #{auditorDate},
            </if>
            <if test="approver != null and approver != ''">
                APPROVER = #{approver},
            </if>
            <if test="approverAdv != null and approverAdv != ''">
                APPROVER_ADV = #{approverAdv},
            </if>
            <if test="approverDate != null and approverDate != ''">
                APPROVER_DATE = #{approverDate},
            </if>
        </trim>
        WHERE AL_ID = #{alId}
    </update>

    <!--    查询未处理的申请-->
    <select id="queryUntreatedAskLeave" resultType="com.jiubo.oa.bean.AskLeaveBean">
        SELECT *
        FROM (
        SELECT A.AL_ID,
        A.LT_ID,
        A.EMP_ID,
        A.CREATE_DATE,
        A.BEG_DATE,
        A.END_DATE,
        A.REMARK,
        A.BILL,
        A.STATE,
        A.EXAMINER,
        A.EXAMINER_ADV,
        A.EXAMINER_DATE,
        A.AUDITOR,
        A.AUDITOR_ADV,
        A.AUDITOR_DATE,
        A.APPROVER,
        A.APPROVER_ADV,
        A.APPROVER_DATE,
        E.EMP_NAME,
        EM.EMP_NAME EXAMINER_NAME,
        EMP.EMP_NAME AUDITOR_NAME,
        EMPL.EMP_NAME
        APPROVER_NAME,
        LT.LT_NAME,
        D.DEPT_ID,
        D.DEPT_NAME
        FROM ASK_LEAVE A
        LEFT JOIN EMPLOYEE E
        ON A.EMP_ID = E.EMP_ID
        LEFT JOIN DEPARTMENT D
        ON D.DEPT_ID = E.DEPT_ID
        LEFT JOIN EMPLOYEE EM
        ON EM.EMP_ID = A.EXAMINER
        LEFT JOIN EMPLOYEE EMP
        ON EMP.EMP_ID = A.AUDITOR
        LEFT JOIN EMPLOYEE EMPL
        ON EMPL.EMP_ID = A.APPROVER
        LEFT JOIN LEAVE_TYPE LT
        ON LT.LT_ID = A.LT_ID
        WHERE A.EXAMINER_ADV = 0
        AND A.STATE = 0
        AND A.EXAMINER = #{empId}
        UNION

        SELECT A.AL_ID,
        A.LT_ID,
        A.EMP_ID,
        A.CREATE_DATE,
        A.BEG_DATE,
        A.END_DATE,
        A.REMARK,
        A.BILL,
        A.STATE,
        A.EXAMINER,
        A.EXAMINER_ADV,
        A.EXAMINER_DATE,
        A.AUDITOR,
        A.AUDITOR_ADV,
        A.AUDITOR_DATE,
        A.APPROVER,
        A.APPROVER_ADV,
        A.APPROVER_DATE,
        E.EMP_NAME,
        EM.EMP_NAME EXAMINER_NAME,
        EMP.EMP_NAME AUDITOR_NAME,
        EMPL.EMP_NAME
        APPROVER_NAME,
        LT.LT_NAME,
        D.DEPT_ID,
        D.DEPT_NAME
        FROM ASK_LEAVE A
        LEFT JOIN EMPLOYEE E
        ON A.EMP_ID = E.EMP_ID
        LEFT JOIN DEPARTMENT D
        ON D.DEPT_ID = E.DEPT_ID
        LEFT JOIN EMPLOYEE EM
        ON EM.EMP_ID = A.EXAMINER
        LEFT JOIN EMPLOYEE EMP
        ON EMP.EMP_ID = A.AUDITOR
        LEFT JOIN EMPLOYEE EMPL
        ON EMPL.EMP_ID = A.APPROVER
        LEFT JOIN LEAVE_TYPE LT
        ON LT.LT_ID = A.LT_ID
        WHERE A.EXAMINER_ADV = 1
        AND A.AUDITOR = #{empId}
        AND A.AUDITOR_ADV = 0
        AND A.STATE = 0
        UNION

        SELECT A.AL_ID,
        A.LT_ID,
        A.EMP_ID,
        A.CREATE_DATE,
        A.BEG_DATE,
        A.END_DATE,
        A.REMARK,
        A.BILL,
        A.STATE,
        A.EXAMINER,
        A.EXAMINER_ADV,
        A.EXAMINER_DATE,
        A.AUDITOR,
        A.AUDITOR_ADV,
        A.AUDITOR_DATE,
        A.APPROVER,
        A.APPROVER_ADV,
        A.APPROVER_DATE,
        E.EMP_NAME,
        EM.EMP_NAME EXAMINER_NAME,
        EMP.EMP_NAME AUDITOR_NAME,
        EMPL.EMP_NAME
        APPROVER_NAME,
        LT.LT_NAME,
        D.DEPT_ID,
        D.DEPT_NAME
        FROM ASK_LEAVE A
        LEFT JOIN EMPLOYEE E
        ON A.EMP_ID = E.EMP_ID
        LEFT JOIN DEPARTMENT D
        ON D.DEPT_ID = E.DEPT_ID
        LEFT JOIN EMPLOYEE EM
        ON EM.EMP_ID = A.EXAMINER
        LEFT JOIN EMPLOYEE EMP
        ON EMP.EMP_ID = A.AUDITOR
        LEFT JOIN EMPLOYEE EMPL
        ON EMPL.EMP_ID = A.APPROVER
        LEFT JOIN LEAVE_TYPE LT
        ON LT.LT_ID = A.LT_ID
        WHERE A.EXAMINER_ADV = 1
        AND A.AUDITOR_ADV = 1
        AND A.APPROVER = #{empId}
        AND A.APPROVER_ADV = 0
        AND A.STATE = 0
        ) A
        WHERE 1 = 1
        <if test="alId != null and alId != ''">
            AND A.AL_ID != #{alId}
        </if>
    </select>

    <!--    查询未处理的申请-->
    <select id="queryUntreatedApply" resultType="com.jiubo.oa.bean.AskLeaveBean">
        SELECT A.AL_ID, A.LT_ID, LT.LT_NAME, A.EMP_ID, E.EMP_NAME, A.CREATE_DATE, '1' AS BILL
        FROM ASK_LEAVE A
        LEFT JOIN EMPLOYEE E
        ON A.EMP_ID = E.EMP_ID
        LEFT JOIN LEAVE_TYPE LT
        ON A.LT_ID = LT.LT_ID
        WHERE A.EXAMINER_ADV = 0
        AND (A.STATE = 0 OR A.STATE = 2)
        AND A.EXAMINER = #{empId}
        <if test="alId != null and alId != ''">
            AND A.AL_ID != #{alId}
        </if>

        UNION

        SELECT A.AL_ID, A.LT_ID, LT.LT_NAME, A.EMP_ID, E.EMP_NAME, A.CREATE_DATE, '1' AS BILL
        FROM ASK_LEAVE A
        LEFT JOIN EMPLOYEE E
        ON A.EMP_ID = E.EMP_ID
        LEFT JOIN LEAVE_TYPE LT
        ON A.LT_ID = LT.LT_ID
        WHERE A.EXAMINER_ADV = 1
        AND A.AUDITOR = #{empId}
        AND A.AUDITOR_ADV = 0
        AND (A.STATE = 0 OR A.STATE = 2)
        <if test="alId != null and alId != ''">
            AND A.AL_ID != #{alId}
        </if>

        UNION

        SELECT A.AL_ID, A.LT_ID, LT.LT_NAME, A.EMP_ID, E.EMP_NAME, A.CREATE_DATE, '1' AS BILL
        FROM ASK_LEAVE A
        LEFT JOIN EMPLOYEE E
        ON A.EMP_ID = E.EMP_ID
        LEFT JOIN LEAVE_TYPE LT
        ON A.LT_ID = LT.LT_ID
        WHERE A.EXAMINER_ADV = 1
        AND A.AUDITOR_ADV = 1
        AND A.APPROVER = #{empId}
        AND A.APPROVER_ADV = 0
        AND (A.STATE = 0 OR A.STATE = 2)
        <if test="alId != null and alId != ''">
            AND A.AL_ID != #{alId}
        </if>

        UNION

        SELECT RD.RD_ID AS AL_ID,RD.REA_ID AS LT_ID,RR.REA_NAME AS LT_NAME, RD.EMP_ID,E.EMP_NAME,RD.CREATE_DATE,'2' AS
        BILL
        FROM REST_DOWN RD
        LEFT JOIN EMPLOYEE E
        ON RD.EMP_ID = E.EMP_ID
        LEFT JOIN REST_REASON RR
        ON RR.REA_ID = RD.REA_ID
        WHERE RD.EXAMINER_ADV = 0
        AND (RD.STATE = 0 OR RD.STATE = 2)
        AND RD.EXAMINER = #{empId}
        <if test="rdId != null and rdId != ''">
            AND RD.RD_ID != #{rdId}
        </if>

        UNION

        SELECT RD.RD_ID AS AL_ID,RD.REA_ID AS LT_ID,RR.REA_NAME AS LT_NAME, RD.EMP_ID,E.EMP_NAME,RD.CREATE_DATE,'2' AS
        BILL
        FROM REST_DOWN RD
        LEFT JOIN EMPLOYEE E
        ON RD.EMP_ID = E.EMP_ID
        LEFT JOIN REST_REASON RR
        ON RR.REA_ID = RD.REA_ID
        WHERE RD.EXAMINER_ADV = 1
        AND RD.AUDITOR = #{empId}
        AND RD.AUDITOR_ADV = 0
        AND (RD.STATE = 0 OR RD.STATE = 2)
        <if test="rdId != null and rdId != ''">
            AND RD.RD_ID != #{rdId}
        </if>

        UNION

        SELECT RD.RD_ID AS AL_ID,RD.REA_ID AS LT_ID,RR.REA_NAME AS LT_NAME, RD.EMP_ID,E.EMP_NAME,RD.CREATE_DATE,'2' AS
        BILL
        FROM REST_DOWN RD
        LEFT JOIN EMPLOYEE E
        ON RD.EMP_ID = E.EMP_ID
        LEFT JOIN REST_REASON RR
        ON RR.REA_ID = RD.REA_ID
        WHERE RD.EXAMINER_ADV = 1
        AND RD.AUDITOR_ADV = 1
        AND RD.APPROVER = #{empId}
        AND RD.APPROVER_ADV = 0
        AND (RD.STATE = 0 OR RD.STATE = 2)
        <if test="rdId != null and rdId != ''">
            AND RD.RD_ID != #{rdId}
        </if>

        UNION

        SELECT FC.FC_ID AS AL_ID,FC.FCR_ID AS LT_ID,FCR.FCR_NAME AS LT_NAME,FC.EMP_ID,E.EMP_NAME,FC.CREATE_DATE,'3' AS
        BILL
        FROM FORGET_CARD FC
        LEFT JOIN EMPLOYEE E
        ON FC.EMP_ID = E.EMP_ID
        LEFT JOIN FORGET_CARD_REASON FCR
        ON FCR.FCR_ID = FC.FCR_ID
        WHERE FC.EXAMINER_ADV = 0 AND (FC.STATE = 0 OR FC.STATE = 2) AND FC.EXAMINER = #{empId}
        <if test="fcId != null and fcId != ''">
            AND FC.FC_ID != #{fcId}
        </if>

        UNION

        SELECT FC.FC_ID AS AL_ID,FC.FCR_ID AS LT_ID,FCR.FCR_NAME AS LT_NAME,FC.EMP_ID,E.EMP_NAME,FC.CREATE_DATE,'3' AS
        BILL
        FROM FORGET_CARD FC
        LEFT JOIN EMPLOYEE E
        ON FC.EMP_ID = E.EMP_ID
        LEFT JOIN FORGET_CARD_REASON FCR
        ON FCR.FCR_ID = FC.FCR_ID
        WHERE FC.EXAMINER_ADV = 1
        AND FC.AUDITOR = #{empId}
        AND FC.AUDITOR_ADV = 0
        AND (FC.STATE = 0 OR FC.STATE = 2)
        <if test="fcId != null and fcId != ''">
            AND FC.FC_ID != #{fcId}
        </if>

        UNION

        SELECT FC.FC_ID AS AL_ID,FC.FCR_ID AS LT_ID,FCR.FCR_NAME AS LT_NAME,FC.EMP_ID,E.EMP_NAME,FC.CREATE_DATE,'3' AS
        BILL
        FROM FORGET_CARD FC
        LEFT JOIN EMPLOYEE E
        ON FC.EMP_ID = E.EMP_ID
        LEFT JOIN FORGET_CARD_REASON FCR
        ON FCR.FCR_ID = FC.FCR_ID
        WHERE FC.EXAMINER_ADV = 1
        AND FC.AUDITOR_ADV = 1
        AND FC.APPROVER = #{empId}
        AND FC.APPROVER_ADV = 0
        AND (FC.STATE = 0 OR FC.STATE = 2)
        <if test="fcId != null and fcId != ''">
            AND FC.FC_ID != #{fcId}
        </if>

        UNION

        SELECT RA_ID AS AL_ID,0 AS LT_ID,'' AS LT_NAME,RA.EMP_ID,E.EMP_NAME,RA.CREATE_DATE,'4' AS BILL
        FROM REIMBURSEMENT_ACCOUNT RA
        LEFT JOIN EMPLOYEE E
        ON RA.EMP_ID = E.EMP_ID
        WHERE RA.EXAMINER_ADV = 0
        AND (RA.STATE = 0 OR RA.STATE = 2)
        AND RA.EXAMINER = #{empId}
        <if test="raId != null and raId != ''">
            AND RA.RA_ID = #{raId}
        </if>

        UNION

        SELECT RA_ID AS AL_ID,0 AS LT_ID,'' AS LT_NAME,RA.EMP_ID,E.EMP_NAME,RA.CREATE_DATE,'4' AS BILL
        FROM REIMBURSEMENT_ACCOUNT RA
        LEFT JOIN EMPLOYEE E
        ON RA.EMP_ID = E.EMP_ID
        WHERE RA.EXAMINER_ADV = 1
        AND RA.AUDITOR = #{empId}
        AND RA.AUDITOR_ADV = 0
        AND (RA.STATE = 0 OR RA.STATE = 2)
        <if test="raId != null and raId != ''">
            AND RA.RA_ID = #{raId}
        </if>

        UNION

        SELECT RA_ID AS AL_ID,0 AS LT_ID,'' AS LT_NAME,RA.EMP_ID,E.EMP_NAME,RA.CREATE_DATE,'4' AS BILL
        FROM REIMBURSEMENT_ACCOUNT RA
        LEFT JOIN EMPLOYEE E
        ON RA.EMP_ID = E.EMP_ID
        WHERE RA.EXAMINER_ADV = 1
        AND RA.AUDITOR_ADV = 1
        AND RA.APPROVER = #{empId}
        AND RA.APPROVER_ADV = 0
        AND (RA.STATE = 0 OR RA.STATE = 2)
        <if test="raId != null and raId != ''">
            AND RA.RA_ID = #{raId}
        </if>

        UNION

        SELECT INFS.INF_ID,0 AS LT_ID,'' AS LT_NAME,INFS.SENDER_ID EMP_ID,E.EMP_NAME,INFS.SEND_DATE CREATE_DATE,'5' AS
        BILL
        FROM INFORMATION_SHEET INFS
        LEFT JOIN EMPLOYEE E
        ON INFS.SENDER_ID = E.EMP_ID
        WHERE INFS.SEND_AGREE = 0 AND (INFS.STATE = 0 OR INFS.STATE = 2)
        AND INFS.EMP_SEND_ID = #{empId}
        <if test="infId != null and infId != ''">
            AND INFS.INF_ID = #{infId}
        </if>

        UNION

        SELECT INFS.INF_ID,0 AS LT_ID,'' AS LT_NAME,INFS.SENDER_ID EMP_ID,E.EMP_NAME,INFS.SEND_DATE CREATE_DATE,'5' AS
        BILL
        FROM INFORMATION_SHEET INFS
        LEFT JOIN EMPLOYEE E
        ON INFS.SENDER_ID = E.EMP_ID
        WHERE INFS.SEND_AGREE = 1 AND (INFS.STATE = 0 OR INFS.STATE = 2)
        AND INFS.EMP_REC_ID = #{empId}
        <if test="infId != null and infId != ''">
            AND INFS.INF_ID = #{infId}
        </if>
    </select>
</mapper>
