<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.oa.dao.DepartmentDao">

    <!--    查询部门-->
    <select id="queryDepartment" resultType="com.jiubo.oa.bean.DepartmentBean">
        SELECT DEPT_ID, DEPT_NAME, PARENT_ID, DEPT_LEVEL, ISUSE
        FROM DEPARTMENT
    </select>
</mapper>
