<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.oa.dao.EmployeeDao">

    <!--    查询员工-->
    <select id="queryEmployee" resultType="com.jiubo.oa.bean.EmployeeBean">
        SELECT E.EMP_ID, E.EMP_NAME, E.SEX, E.IDCARD, E.BIRTHDAY, E.NATIONALITY, E.POLITICAL, E.REG_RESIDENCE,
        E.NATIVE_PLACE, E.PHONE, E.PERMANENT_ADDRESS, E.ADDRESS, E.EMERGENCY_CONTACT,
        E.EMERGENCY_PHONE, E.CONTRACT_ATTRIBUTE, E.CONTRACT_PERIOD, E.SUBSCRIPT_1,
        E.SUBSCRIPT_2, E.SUBSCRIPT_3, E.SUBSCRIPT_4, E.ACC_NAME, E.ACC_PWD, E.DEPT_ID,
        E.POS_ID, E.ENTRY_DATE, E.FORMAL_DATE, E.LEAVEL_DATE, E.STATE, E.OPEN_ID,D.DEPT_NAME,P.POS_NAME
        FROM EMPLOYEE E
        LEFT JOIN DEPARTMENT D
        ON E.DEPT_ID = D.DEPT_ID
        LEFT JOIN POSITION P
        ON E.POS_ID = P.POS_ID
        WHERE 1 = 1
        <if test="empId != null and empId != ''">
            AND EMP_ID = #{empId}
        </if>
        <if test="empName != null and empName != ''">
            AND EMP_NAME LIKE CONCAT('%',#{empName},'%')
        </if>
        <if test="deptId != null and deptId != ''">
            AND DEPT_ID = #{deptId}
        </if>
        <if test="posId != null and posId != ''">
            AND POS_ID = #{posId}
        </if>
        <if test="accName != null and accName != ''">
            AND ACC_NAME = #{accName}
        </if>
        <if test="excludeEmp != null and excludeEmp.length > 0">
            AND EMP_ID NOT IN
            <foreach collection="excludeEmp" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
