<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.oa.dao.EmployeeDao">

    <!--    查询员工-->
    <select id="queryEmployee" resultType="com.jiubo.oa.bean.EmployeeBean">
        SELECT E.EMP_ID, E.EMP_NAME, E.SEX, E.IDCARD, E.BIRTHDAY, E.NATIONALITY,N.NAT_NAME, E.POLITICAL, E.REG_RESIDENCE,
        E.NATIVE_PLACE, E.PHONE, E.PERMANENT_ADDRESS, E.ADDRESS, E.EMERGENCY_CONTACT,
        E.EMERGENCY_PHONE, E.CONTRACT_ATTRIBUTE, E.CONTRACT_PERIOD, E.SUBSCRIPT_1,
        E.SUBSCRIPT_2, E.SUBSCRIPT_3, E.SUBSCRIPT_4, E.ACC_NAME, E.DEPT_ID,
        E.POS_ID, E.ENTRY_DATE, E.FORMAL_DATE, E.LEAVEL_DATE, E.STATE, E.OPEN_ID,D.DEPT_NAME,P.POS_NAME
        <if test="showPwd == 1">
            , E.ACC_PWD
        </if>
        FROM EMPLOYEE E
        LEFT JOIN DEPARTMENT D
        ON E.DEPT_ID = D.DEPT_ID
        LEFT JOIN POSITION P
        ON E.POS_ID = P.POS_ID
        LEFT JOIN NATION N
        ON E.NATIONALITY=N.NAT_ID
        WHERE 1 = 1
        <if test="empId != null and empId != ''">
            AND E.EMP_ID = #{empId}
        </if>
        <if test="empName != null and empName != ''">
            AND E.EMP_NAME LIKE CONCAT('%',#{empName},'%')
        </if>
        <if test="deptId != null and deptId != ''">
            AND E.DEPT_ID = #{deptId}
        </if>
        <if test="posId != null and posId != ''">
            AND E.POS_ID = #{posId}
        </if>
        <if test="accName != null and accName != ''">
            AND E.ACC_NAME = #{accName}
        </if>
        <if test="openId != null and openId != ''">
            AND E.OPEN_ID = #{openId}
        </if>
        <if test="phone != null and phone != ''">
            AND E.PHONE LIKE CONCAT('%',#{phone},'%')
        </if>
        <if test="birthday != null and birthday != ''">
            AND E.BIRTHDAY <![CDATA[>= ]]> #{birthday} AND E.BIRTHDAY <![CDATA[< ]]> ADDDATE(#{birthday},1)
        </if>
        <if test="entryDate != null and entryDate != ''">
            AND E.ENTRY_DATE <![CDATA[>= ]]> #{entryDate} AND E.ENTRY_DATE <![CDATA[< ]]> ADDDATE(#{entryDate},1)
        </if>
        <if test="formalDate != null and formalDate != ''">
            AND E.FORMAL_DATE <![CDATA[>= ]]> #{formalDate} AND E.FORMAL_DATE <![CDATA[< ]]> ADDDATE(#{formalDate},1)
        </if>
        <if test="leavelDate != null and leavelDate != ''">
            AND E.LEAVEL_DATE <![CDATA[>= ]]> #{leavelDate} AND E.LEAVEL_DATE <![CDATA[< ]]> ADDDATE(#{leavelDate},1)
        </if>
        <if test="state != null and state != ''">
            AND E.STATE=#{state}
        </if>
        <if test="excludeEmp != null and excludeEmp.length > 0">
            AND E.EMP_ID NOT IN
            <foreach collection="excludeEmp" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <!--    修改员工-->
    <update id="updateEmployee">
        UPDATE EMPLOYEE
        SET
        <trim suffixOverrides=",">
            <if test="empName != null and empName != ''">
                EMP_NAME = #{empName} ,
            </if>
            <if test="sex != null and sex != ''">
                SEX = #{sex},
            </if>
            <if test="idCard != null and idCard != ''">
                IDCARD = #{idCard},
            </if>
            <if test="birthday != null and birthday != ''">
                BIRTHDAY = #{birthday},
            </if>
            <if test="nationality != null and nationality != ''">
                NATIONALITY = #{nationality},
            </if>
            <if test="political != null and political != ''">
                POLITICAL = #{political},
            </if>
            <if test="regResidence != null and regResidence != ''">
                REG_RESIDENCE = #{regResidence},
            </if>
            <if test="nativePlace != null and nativePlace != ''">
                NATIVE_PLACE = #{nativePlace},
            </if>
            <if test="phone != null and phone != ''">
                PHONE = #{phone},
            </if>
            <if test="permanentAddress != null and permanentAddress != ''">
                PERMANENT_ADDRESS = #{permanentAddress},
            </if>
            <if test="address != null and address != ''">
                ADDRESS = #{address},
            </if>
            <if test="emergencyContact != null and emergencyContact != ''">
                EMERGENCY_CONTACT = #{emergencyContact},
            </if>
            <if test="emergencyPhone != null and emergencyPhone != ''">
                EMERGENCY_PHONE = #{emergencyPhone},
            </if>
            <if test="contractAttribute != null and contractAttribute != ''">
                CONTRACT_ATTRIBUTE = #{contractAttribute},
            </if>
            <if test="contractPeriod != null and contractPeriod != ''">
                CONTRACT_PERIOD = #{contractPeriod},
            </if>
            <if test="subscript1 != null and subscript1 != ''">
                SUBSCRIPT_1 = #{subscript1},
            </if>
            <if test="subscript2 != null and subscript2 != ''">
                SUBSCRIPT_2 = #{subscript2},
            </if>
            <if test="subscript3 != null and subscript3 != ''">
                SUBSCRIPT_3 = #{subscript3},
            </if>
            <if test="subscript4 != null and subscript4 != ''">
                SUBSCRIPT_4 = #{subscript4},
            </if>
            <if test="accName != null and accName != ''">
                ACC_NAME = #{accName},
            </if>
            <if test="accPwd != null and accPwd != ''">
                ACC_PWD = #{accPwd},
            </if>
            <if test="deptId != null and deptId != ''">
                DEPT_ID = #{deptId},
            </if>
            <if test="posId != null and posId != ''">
                POS_ID = #{posId},
            </if>
            <if test="entryDate != null and entryDate != ''">
                ENTRY_DATE = #{entryDate},
            </if>
            <if test="formalDate != null and formalDate != ''">
                FORMAL_DATE = #{formalDate},
            </if>
            <if test="leavelDate != null and leavelDate != ''">
                LEAVEL_DATE = #{leavelDate},
            </if>
            <if test="state != null and state != ''">
                STATE = #{state},
            </if>
            <if test="openId != null and openId != ''">
                OPEN_ID = #{openId},
            </if>
        </trim>
        WHERE EMP_ID = #{empId}
    </update>


    <!--新增员工基本信息-->
    <insert id="addEmployee" useGeneratedKeys="true" keyProperty="empId">
        INSERT INTO `employee`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="empName != null and empName != ''">
                EMP_NAME,
            </if>
            <if test="sex != null and sex != ''">
                SEX,
            </if>
            <if test="idCard != null and idCard != ''">
                IDCARD,
            </if>
            <if test="birthday != null and birthday != ''">
                BIRTHDAY,
            </if>
            <if test="nationality != null and nationality != ''">
                NATIONALITY,
            </if>
            <if test="political != null and political != ''">
                POLITICAL,
            </if>
            <if test="regResidence != null and regResidence != ''">
                REG_RESIDENCE,
            </if>
            <if test="nativePlace != null and nativePlace != ''">
                NATIVE_PLACE,
            </if>
            <if test="phone != null and phone != ''">
                PHONE,
            </if>
            <if test="permanentAddress != null and permanentAddress != ''">
                PERMANENT_ADDRESS,
            </if>
            <if test="address != null and address != ''">
                ADDRESS,
            </if>
            <if test="emergencyContact != null and emergencyContact != ''">
                EMERGENCY_CONTACT,
            </if>
            <if test="emergencyPhone != null and emergencyPhone != ''">
                EMERGENCY_PHONE,
            </if>
            <if test="contractAttribute != null and contractAttribute != ''">
                CONTRACT_ATTRIBUTE,
            </if>
            <if test="contractPeriod != null and contractPeriod != ''">
                CONTRACT_PERIOD,
            </if>
            <if test="subscript1 != null and subscript1 != ''">
                SUBSCRIPT_1,
            </if>
            <if test="subscript2 != null and subscript2 != ''">
                SUBSCRIPT_2,
            </if>
            <if test="subscript3 != null and subscript3 != ''">
                SUBSCRIPT_3,
            </if>
            <if test="subscript4 != null and subscript4 != ''">
                SUBSCRIPT_4,
            </if>
            <if test="accName != null and accName != ''">
                ACC_NAME,
            </if>
            <if test="accPwd != null and accPwd != ''">
                ACC_PWD,
            </if>
            <if test="deptId != null and deptId != ''">
                DEPT_ID,
            </if>
            <if test="posId != null and posId != ''">
                POS_ID,
            </if>
            <if test="entryDate != null and entryDate != ''">
                ENTRY_DATE,
            </if>
            <if test="formalDate != null and formalDate != ''">
                FORMAL_DATE,
            </if>
            <if test="leavelDate != null and leavelDate != ''">
                LEAVEL_DATE,
            </if>
            <if test="state != null and state != ''">
                STATE,
            </if>
            <if test="openId != null and openId != ''">
                OPEN_ID,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="empName != null and empName != ''">
                #{empName} ,
            </if>
            <if test="sex != null and sex != ''">
                #{sex},
            </if>
            <if test="idCard != null and idCard != ''">
                #{idCard},
            </if>
            <if test="birthday != null and birthday != ''">
                #{birthday},
            </if>
            <if test="nationality != null and nationality != ''">
                #{nationality},
            </if>
            <if test="political != null and political != ''">
                #{political},
            </if>
            <if test="regResidence != null and regResidence != ''">
                #{regResidence},
            </if>
            <if test="nativePlace != null and nativePlace != ''">
                #{nativePlace},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="permanentAddress != null and permanentAddress != ''">
                #{permanentAddress},
            </if>
            <if test="address != null and address != ''">
                #{address},
            </if>
            <if test="emergencyContact != null and emergencyContact != ''">
                #{emergencyContact},
            </if>
            <if test="emergencyPhone != null and emergencyPhone != ''">
                #{emergencyPhone},
            </if>
            <if test="contractAttribute != null and contractAttribute != ''">
                #{contractAttribute},
            </if>
            <if test="contractPeriod != null and contractPeriod != ''">
                #{contractPeriod},
            </if>
            <if test="subscript1 != null and subscript1 != ''">
                #{subscript1},
            </if>
            <if test="subscript2 != null and subscript2 != ''">
                #{subscript2},
            </if>
            <if test="subscript3 != null and subscript3 != ''">
                #{subscript3},
            </if>
            <if test="subscript4 != null and subscript4 != ''">
                #{subscript4},
            </if>
            <if test="accName != null and accName != ''">
                #{accName},
            </if>
            <if test="accPwd != null and accPwd != ''">
                #{accPwd},
            </if>
            <if test="deptId != null and deptId != ''">
                #{deptId},
            </if>
            <if test="posId != null and posId != ''">
                #{posId},
            </if>
            <if test="entryDate != null and entryDate != ''">
                #{entryDate},
            </if>
            <if test="formalDate != null and formalDate != ''">
                #{formalDate},
            </if>
            <if test="leavelDate != null and leavelDate != ''">
                #{leavelDate},
            </if>
            <if test="state != null and state != ''">
                #{state},
            </if>
            <if test="openId != null and openId != ''">
                #{openId},
            </if>
        </trim>
    </insert>
</mapper>

