<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.oa.dao.InformationSheetDao">

    <!--    查询信息单   -->
    <select id="queryInformationSheet" resultType="com.jiubo.oa.bean.InformationSheetBean">
        SELECT INFS.INF_ID
        ,INFS.SHEET_TYPE
        ,INFS.DEGREE_TYPE
        ,INFS.SENDER_ID
        ,E1.EMP_NAME AS SENDER_NAME
        ,INFS.EMP_SEND_ID
        ,E2.EMP_NAME AS EMP_SEND_NAME
        ,INFS.DEPT_SEND_ID
        ,DEPT1.DEPT_NAME AS DEPT_SEND_NAME
        ,INFS.SEND_DATE
        ,INFS.DEPT_REC_ID
        ,DEPT2.DEPT_NAME AS DEPT_REC_NAME
        ,INFS.EMP_REC_ID
        ,E3.EMP_NAME AS EMP_REC_NAME
        ,INFS.EMP_ID
        ,E4.EMP_NAME EMP_NAME
        ,INFS.THEME
        ,INFS.CONTENT
        ,INFS.REQUIRE_CONTENT
        ,INFS.SEND_AGREE
        ,INFS.SEND_CONTENT
        ,INFS.SEND_APP_DATE
        ,INFS.REC_AGREE
        ,INFS.REC_CONTENT
        ,INFS.REC_APP_DATE
        ,INFS.STATE
        FROM INFORMATION_SHEET INFS
        LEFT JOIN EMPLOYEE E1 ON E1.EMP_ID = INFS.SENDER_ID
        LEFT JOIN EMPLOYEE E2 ON E2.EMP_ID = INFS.EMP_SEND_ID
        LEFT JOIN EMPLOYEE E3 ON E3.EMP_ID = INFS.EMP_REC_ID
        LEFT JOIN EMPLOYEE E4 ON E4.EMP_ID = INFS.EMP_ID
        LEFT JOIN DEPARTMENT DEPT1 ON DEPT1.DEPT_ID = INFS.DEPT_SEND_ID
        LEFT JOIN DEPARTMENT DEPT2 ON DEPT2.DEPT_ID = INFS.DEPT_REC_ID
        WHERE 1 = 1
        <if test="infId != null and infId != ''">
            AND INFS.INF_ID = #{infId}
        </if>
    </select>

    <!--    添加信息单  -->
    <insert id="addInformationSheet" useGeneratedKeys="true" keyProperty="infId">
        INSERT INTO INFORMATION_SHEET (SHEET_TYPE,DEGREE_TYPE,SENDER_ID,EMP_SEND_ID,DEPT_SEND_ID,SEND_DATE,DEPT_REC_ID,EMP_REC_ID,EMP_ID
                      ,THEME,CONTENT,REQUIRE_CONTENT,STATE)
        VALUES (#{sheefType}, #{degreeType}, #{senderId}, #{empSendId},#{deptSendId},#{sendDate}, #{deptRecId}, #{empRecId}, #{empId},
                #{theme}, #{content}, #{requireContent}, #{state})
    </insert>

    <!--    修改信息单-->
    <update id="updateInformationSheet">
        UPDATE INFORMATION_SHEET
        SET
        <trim suffixOverrides=",">
            <if test="sheefType != null and sheefType != ''">
                SHEET_TYPE = #{sheefType},
            </if>
            <if test="degreeType != null and degreeType != ''">
                DEGREE_TYPE = #{degreeType},
            </if>
            <if test="senderId != null and senderId != ''">
                SENDER_ID = #{senderId},
            </if>
            <if test="empSendId != null and empSendId != ''">
                EMP_SEND_ID = #{empSendId},
            </if>
            <if test="deptSendId != null and deptSendId != ''">
                DEPT_SEND_ID = #{deptSendId},
            </if>
            <if test="sendDate != null and sendDate != ''">
                SEND_DATE = #{sendDate},
            </if>
            <if test="deptRecId != null and deptRecId != ''">
                DEPT_REC_ID = #{deptRecId},
            </if>
            <if test="empRecId != null and empRecId != ''">
                EMP_REC_ID = #{empRecId},
            </if>
            <if test="empId != null and empId != ''">
                EMP_ID = #{empId},
            </if>
            <if test="theme != null and theme != ''">
                THEME = #{theme},
            </if>
            <if test="content != null and content != ''">
                CONTENT = #{content},
            </if>
            <if test="requireContent != null and requireContent != ''">
                REQUIRE_CONTENT = #{requireContent},
            </if>
            <if test="sendAgree != null and sendAgree != ''">
                SEND_AGREE = #{sendAgree},
            </if>
            <if test="sendContent != null and sendContent != ''">
                SEND_CONTENT = #{sendContent},
            </if>
            <if test="sendAppDate != null and sendAppDate != ''">
                SEND_APP_DATE = #{sendAppDate},
            </if>
            <if test="recAgree != null and recAgree != ''">
                REC_AGREE = #{recAgree},
            </if>
            <if test="recContent != null and recContent != ''">
                REC_CONTENT = #{recContent},
            </if>
            <if test="recAppDate != null and recAppDate != ''">
                REC_APP_DATE = #{recAppDate},
            </if>
            <if test="state != null and state != ''">
                STATE = #{state},
            </if>
        </trim>
        WHERE INF_ID = #{infId}
    </update>


</mapper>
